# Archivos basura de Mac
.DS_Store

# Archivos basura de Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs de errores (por si acaso)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# NOTA:
# Aquí NO bloqueamos ni 'node_modules' (porque no existen en el build)
# ni archivos *.js o *.css, porque esos son necesarios para que la web funcione.